.section-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(238, 236, 236);
    padding-bottom: 60px;
}

.title-container{
    display: flex;
    justify-content: center;
    color: rgb(68, 155, 122);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

.image-container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.img-1{
    width: 155vh;

}

.img-2{
    width: 90vh;
    margin-top: 100px;
}

.pTag-container{
    background: rgb(255, 255, 255);
    border-radius: 70px;
    width: 950px;
    height: 17vh;
    margin-left: 250px;
}

p{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bold;
}

.img-container{
    display: flex;
    justify-content: center;
   
}

.img1{
    width: 100vh;
}

.img2{
    width: 60vh;
}
